{% extends 'base.html.twig' %}

{% block title %}Connexion {% endblock %}

{% block body %}

    <div class="card p-5 mt-4">
        <h1 class="text-center">Page de Connexion</h1>

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <form action="{{path('app_login')}}" method="post">
            <div class="form-group">
                <label for="username" class="form-label mt-4">Adresse Email</label>
                <input type="email" class="form-control" id="username" value="{{last_username}}" name="_username" placeholder="exemple@recette.ml">
            </div>

            <div class="form-group">
                <label for="password" class="form-label mt-4">Mot de passe</label>
                <input type="password" class="form-control" name="_password" id="password" placeholder="******">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Se connecter</button>
        </form>
    </div>

{% endblock %}
