{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Simp-Recipe</h1>
        <p class="lead">Simp-Recipe est une application qui te permettre de créer des recettes à base d'ingrédients que tu aura toi même créer. Tu pourras partager tes recettes à la communauté ou les garder en privé.</p>
        <hr class="my-4">
        <p>Pour utiliser cette application rendez-vous sur la page d'inscription.</p>
        <a class="btn btn-primary" href="#" role="button">Inscription</a>
    </div>

{% endblock %}
