{% extends "base.html.twig" %}

{% block title %}Modification {% endblock %}

{% block body %}
        <div class="card mt-5 p-5">
        <h1 class="text-center">Modifier un ingrédient</h1>
       {{ form_start(form) }}

        <div class="row">
            <div class="col">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="col">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>
        </div>
        
        <div class="form-group">
            {{form_row(form.submit)}}
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}