{% extends 'base.html.twig' %}

{% block title %}Ingrédients {% endblock %}

{% block body %}
    <h1 class="text-center">Mes Ingrédients</h1>
    
    <a href="{{path('app_new_ingredient')}}" class="btn btn-primary mb-3">Ajouter</a>
    
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}

    {% if not ingredients.items is same as([]) %}
    <h4 class="count mt-3">
        Il y a au total {{ ingredients.getTotalItemCount }} Ingrédients
    </h4>
    <table class="table table-striped bordered mt-3">
        <thead>
            <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Date de création</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ingredient.id}}</td>
                <td>{{ingredient.name}}</td>
                <td>{{ingredient.price}}</td>
                <td>{{ingredient.createdAt|date('d/m/Y')}}</td>
                <td>
                    <a href="{{path('app_edit_ingredient',{id:ingredient.id})}}" class="btn btn-primary"><i class="bx bxs-pencil"></i></a>
                    <a href="" class="btn btn-secondary"><i class="bx bxs-show"></i></a>
                    <a href="{{path('app_delete_ingredient',{id:ingredient.id})}}" class="btn btn-danger"><i class="bx bxs-trash"></i></a>
                </td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center ">
    {{ knp_pagination_render(ingredients) }}
    </div>
    {% else %}
        <h1 class="text-center">Il n'y a pas d'ingrédients</h1>
    {% endif %}

{% endblock %}
