{% extends 'base.html.twig' %}

{% block title %}Recette {% endblock %}

{% block body %}
    <h1 class="text-center">Mes Recettes</h1>
    
    <a href="{{path('app_recipe_new')}}" class="btn btn-primary mb-3">Ajouter</a>
    
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}

    {% if not recipes.items is same as([]) %}
    <h4 class="count mt-3">
        Il y a au total {{ recipes.getTotalItemCount }} Recettes
    </h4>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Difficulté</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{recipe.id}}</td>
                <td>{{recipe.name}}</td>
                    
                <td>
                    {% if recipe.price is null %}
                        Non renseigné
                    {% else %}
                    {{recipe.price}}
                    {% endif %}
                </td>
                <td>
                    {% if recipe.difficulty is null %}
                        Non renseigné
                    {% else %}
                    {{recipe.difficulty}}
                    {% endif %}
                    </td>
                <td>{{recipe.createdAt|date('d/m/Y')}}</td>
                <td>
                    <a href="{{path('app_recipe_edit',{id:recipe.id})}}" class="btn btn-primary"><i class="bx bxs-pencil"></i></a>
                    <a href="" class="btn btn-secondary"><i class="bx bxs-show"></i></a>
                    <a href="{{path('app_recipe_delete',{id:recipe.id})}}" class="btn btn-danger"><i class="bx bxs-trash"></i></a>
                </td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center ">
    {{ knp_pagination_render(recipes) }}
    </div>
    {% else %}
        <h1 class="text-center">Il n'y a pas de recette</h1>
    {% endif %}
{% endblock %}
