{% extends "base.html.twig" %}

{% block title %}Ajouter recette {% endblock %}


{% block body %}
    <div class="card mt-5 p-5">
        <h1 class="text-center">Mes Recettes</h1>
        {{ form_start(form) }}
                
                <div class="row mb-2 ">
                    <div class="col">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        <div class="form-error">
                            {{ form_errors(form.name) }}
                        </div>    
                    </div>
                    <div class="col mt-2">
                        {{ form_label(form.time) }}
                        {{ form_widget(form.time) }}
                        <div class="form-error">
                            {{ form_errors(form.time) }}
                        </div>   
                    </div>
                </div>
                 <div class="row mb-2">
                    <div class="col">
                        {{ form_label(form.nbPeople) }}
                        {{ form_widget(form.nbPeople) }}
                        <div class="form-error">
                            {{ form_errors(form.nbPeople) }}
                        </div>    
                    </div>
                    <div class="col">
                        {{ form_label(form.difficulty) }}
                        {{ form_widget(form.difficulty) }}
                        <div class="form-error">
                            {{ form_errors(form.difficulty) }}
                        </div>   
                    </div>
                </div>
                 <div class="row mb-2">
                    <div class="col">
                        {{ form_label(form.price) }}
                        {{ form_widget(form.price) }}
                        <div class="form-error">
                            {{ form_errors(form.price) }}
                        </div>    
                    </div>
                    <div class="col mt-4 mx-3">
                        {{ form_label(form.isFavorite) }}
                        {{ form_widget(form.isFavorite) }}
                        <div class="form-error">
                            {{ form_errors(form.isFavorite) }}
                        </div>   
                    </div>
                </div>

                <div class="mt-2">
                    {{form_label(form.description)}}
                    {{form_widget(form.description)}}
                    <div class="form-error">
                        {{ form_errors(form.description) }}
                    </div> 
                </div>
                 <div class="mt-2">
                    {{form_label(form.Ingredients)}}
                    {{form_widget(form.Ingredients)}}
                    <div class="form-error">
                        {{ form_errors(form.Ingredients) }}
                    </div> 
                </div>

        {{ form_end(form) }}
    
    </div>

{% endblock %}
                    
                