<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{path('app_home')}}">
          <i class="bx bxs-dashboard"></i><span>Accueil</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{path('app_ingredient')}}">
          <i class="bi bi-menu-button-wide"></i><span>ingrédients</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed"  href="{{path('app_recipe')}}">
          <i class="bi bi-journal-text"></i><span>Recettes</span>
        </a>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Actors</span>
        </a>
        
      </li><!-- End Tables Nav -->

    </ul>

  </aside>